.strapText {
  justify-content: center;
  text-align: center;
}
.strapImg {
  width: 100%;
  margin-left: 11.8%;
}
.Edward {
  font-weight: bold;
  font-size: 22px;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #2b2a2c;
  opacity: 1;
}
.Marketing {
  font-weight: italic;
  font-size: 14px;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #6a696b;
  opacity: 1;
}
.READ {
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #2b2a2c;
  opacity: 1;
  margin-top: 10%;
}
.Sometimes {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  font-family: Montserrat;
  letter-spacing: 0px;
  color: #8c8c8d;
  opacity: 1;
}
@media screen and (max-width: 576px) {
  div.strapImg {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  div.strapImg {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  div.strapImg {
    display: none;
  }
}
